.benefits .list {

    @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            flex-basis: calc((100% - 60px)/2);
        }
    @media screen and (min-width: $desktop) {
            flex-basis: calc((100% - 90px)/4);
        }
    
}

.benefits .item:not(:last-child) {

    @media screen and (max-width: 767px) {
                margin-bottom: 30px;
        }
    @media screen and (min-width: $desktop) {
                margin-right: 30px;
        }
                
        
}

.benefits .subtitle {
    margin-bottom: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: $secondary-bg-color;
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
            max-width: 450px;
        }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
            max-width: 354px;
        }
    @media screen and (min-width: $desktop) {
            max-width: 270px;
        }
}

.icon-benefits {
    width: 70px;
    height: 70px;
}

.upper {
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
            text-align: center;
        }
}

.description {
    margin: 0;

    line-height: 1.71;

}
