.overlay {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;

    background-color: $footer-bg-color;
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
    

    @media screen and (max-width: 1199px) {
            height: 400px;
            padding: 118px 60px;

        }
    @media screen and (min-width: $desktop) {
            height: 600px;
            padding: 200px 450px;
        }
}

 @media screen and (max-width: $mobile) {
    .overlay {
     background-image: linear-gradient(rgba(47, 48,
                 58, 0.8), rgba(47, 48,
                 58, 0.8)), url('../images/header-mob.jpg'); }


     @media (min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
         .overlay {
             background-image: linear-gradient(rgba(47, 48,
                         58, 0.8), rgba(47, 48,
                         58, 0.8)), url('../images/header-mob@2x.jpg');
         }
     }

     @media (min-device-pixel-ratio: 3),
     (min-resolution: 288dpi),
     (min-resolution: 3dppx) {
         .overlay {
             background-image: linear-gradient(rgba(47, 48,
                         58, 0.8), rgba(47, 48,
                         58, 0.8)), url('../images/header-mob@3x.jpg');
         }

     }
 }

@media screen and (min-width: 481px) and (max-width: 767px) {
    .overlay {
        background-image: linear-gradient(rgba(47, 48,
                        58, 0.8), rgba(47, 48,
                        58, 0.8)), url('../images/header-tab.jpg');
    }
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .overlay {
        background-image: linear-gradient(rgba(47, 48,
                    58, 0.8), rgba(47, 48,
                    58, 0.8)), url('../images/header-tab@2x.jpg');
    }
}

@media (min-device-pixel-ratio: 3),
(min-resolution: 288dpi),
(min-resolution: 3dppx) {
    .overlay {
        background-image: linear-gradient(rgba(47, 48,
                    58, 0.8), rgba(47, 48,
                    58, 0.8)), url('../images/header-tab@3x.jpg');
    }

}
}

@media screen and (min-width: 769px) {
    .overlay {
        background-image: linear-gradient(rgba(47, 48,
                    58, 0.8), rgba(47, 48,
                    58, 0.8)), url('../images/header-desk.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(rgba(47, 48,
                        58, 0.8), rgba(47, 48,
                        58, 0.8)), url('../images/header-desk@2x.jpg');
        }
    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        .overlay {
            background-image: linear-gradient(rgba(47, 48,
                        58, 0.8), rgba(47, 48,
                        58, 0.8)), url('../images/header-desk@3x.jpg');
        }

    }
}


.hero-container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    

    @media screen and (max-width: 1199px) {
            max-width: 360px;
        }
    
        @media screen and (min-width: $desktop) {
            max-width: 696px;
        }
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $white-text-color;

    @media screen and (max-width: 1199px) {
        font-size: 26px;
        line-height: 1.62;
    }
    @media screen and (min-width: $desktop) {
        font-size: 44px;
        line-height: 1.36;
    }
}

