.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $footer-bg-color;

    .address {
        @media screen and (max-width: 767px) {
                margin-bottom: 60px;
            }
        @media screen and (min-width: $desktop) {
            margin-right: 69px;
            }    
        }

    .links {
        @media screen and (max-width: 767px) {
                margin-bottom: 60px;
            }
        @media screen and (min-width: $desktop) {
                margin-right: 94px;
            }
            
        }
}

.page-footer > .container {
    
    @media screen and (max-width: 767px) {
       text-align: center;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: baseline;
    }
}

.page-footer .social-link {
    background-color: rgba(255, 255, 255, 0.1);
}

.location {
    display: flex;
    flex-direction: column;

    font-style: normal;
    line-height: 1.71;

    color: $white-text-color;

}

.location .contacts {
    color: rgba(255, 255, 255, 0.6);

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
        margin-bottom: 8px;
        }
    }
   
}
.exact-loc {
    @media screen and (max-width: 767px) {
        margin-bottom: 8px;
    } 
}
.page-footer .logo {
    display: block;
    margin-bottom: 20px;
}

.logo-part.inverse {
    color: $white-text-color;
}

.join {
    display: block;
    margin-bottom: 20px;

    text-transform: uppercase;
    color: $white-text-color;
}

.footer-form {

    @media screen and (min-width: $desktop) {
            display: flex;  
        }
}

.footer-label {
    @media screen and (max-width: 767px) {
        display: block;
        margin-bottom: 20px;
    }
}
.footer-input {
    
    padding: 15px 16px;

    background-color: var(--footer-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    font-size: 16px;
    color: $white-text-color;


    @media screen and (min-width: $mobile) and (max-width: 1199px) {
            width: 450px; 
        }

    @media screen and (min-width: $desktop) {
            width: 358px;
            margin-right: 12px;
        }
}

.links .item + .item {
    margin-left: 10px;
}

.subscribe .button {
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: center;
    }
}

.icon-send {
    margin-left: 10px;
}